
.form-style-5{
    max-width: 850px; /*MODIFIE LA LARGEUR DU FORMULAIRE*/
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 input[type="tel"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 input[type="tel"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: red;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: red;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid red;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: red;
}
#photoTitle{
    text-align: center;
}
#FAPic{
    padding-right: 100px;
}
#epflPic{
    padding-left: 100px;
}
#incomplet{
    color: red;
    font-size: 1.5em;
}
#addSch{
   padding: 5px 20px 5px 20px; 
}
#addPro{
   padding: 5px 20px 5px 20px; 
}

/*
CHECKBOX STYLE
*/
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 75px;
		cursor: pointer;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before,
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		left:0; top: -3px;
		width: 65px; height: 30px;
		background: #e8eeef;
		border-radius: 15px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		transition: background-color .2s;
	}
    
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		width: 20px; height: 20px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
		border-radius: 50%;
		background: #7F8C9A;
		top: 2px; left: 5px;
	}

	[type="checkbox"]:checked + label:before {
		background:red; 
	}
	[type="checkbox"]:checked + label:after {
		background: white;
		top: 2px; left: 40px;
	}

	[type="checkbox"]:checked + label .ui,
	[type="checkbox"]:not(:checked) + label .ui:before,
	[type="checkbox"]:checked + label .ui:after {
		position: absolute;
		left: 6px;
		width: 65px;
		border-radius: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
	}
	[type="checkbox"]:not(:checked) + label .ui:before {
		content: "non";
		left: 32px
	}
	[type="checkbox"]:checked + label .ui:after {
		content: "oui";
		color: white;
	}
a{
	text-decoration: none;
}
/*
RADIOBUTTON STYLE
*/
.radio-list-left input[type="radio"], .radio-list-right input[type="radio"] {
  opacity: 0;
  float: left;
  width: 1px;
  margin: 0;
}
.radio-list-left input[type="radio"] + label, .radio-list-right input[type="radio"] + label {
  position: relative;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px;
}
.radio-list-left input[type="radio"] + label:before, .radio-list-right input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 50%;
  background: #ddd;
  border: 1px solid #aaa;
}
.radio-list-left input[type="radio"]:checked + label, .radio-list-right input[type="radio"]:checked + label {
  color: red;
}
.radio-list-left input[type="radio"]:checked + label:before, .radio-list-right input[type="radio"]:checked + label:before {
  background: red;
  border-color: rgba(204, 204, 204, 0.5);
}
.radio-list-left input[type="radio"]:disabled + label, .radio-list-right input[type="radio"]:disabled + label {
  color: #ccc;
}
.radio-list-left input[type="radio"]:disabled + label:before, .radio-list-right input[type="radio"]:disabled + label:before {
  background: rgba(204, 204, 204, 0.5);
  border: 2px dotted #ccc;
}
.radio-list-left input[type="radio"]:focus + label, .radio-list-right input[type="radio"]:focus + label {
  box-shadow: inset 0 0 3px #eee;
}
dl {
  max-width: 200px;
  
}
dl dt {
  margin: 3em 0 5px;
  font-size: 18px;
}
dl dd {
  margin: 0;
}
.radio-list-left input[type="radio"] + label {
  padding-left: 50px;
}
.radio-list-left input[type="radio"] + label:before {
  height: 20px;
  width: 20px;
  margin-top: -11px;
  left: 10px;
  border-radius: 100%;
}
.radio-list-right input[type="radio"] + label {
  padding-right: 50px;
}
.radio-list-right input[type="radio"] + label:before {
  height: 20px;
  width: 20px;
  margin-top: -11px;
  right: 10px;
  border-radius: 100%;
}